<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Logistic application</title>
</head>
<body>

	<h1>List of Addresses:</h1>

	<table border>
		<tr>
			<th>Id</th>
			<th>CountryCode</th>
			<th>City</th>
			<th>StreetAddress</th>
			<th>PostalCode</th>
			<th>HouseNumber</th>
			<th>Lat</th>
			<th>Lng</th>
		</tr>
		<tr th:each="address : ${addresses}">
			<td th:text="${address.id}">Id</td>
			<td th:text="${address.countryCode}">CountryCode</td>
			<td th:text="${address.city}">City</td>
			<td th:text="${address.streetAddress}">StreetAddress</td>
			<td th:text="${address.postalCode}">PostalCode</td>
			<td th:text="${address.houseNumber}">HouseNumber</td>
			<td th:text="${address.lat}">Lat</td>
			<td th:text="${address.lng}">Lng</td>
			<td><a th:href="@{/deleteAddress/{id}(id=${address.id})}">Delete</a></td>
		</tr>
	</table>
	<br>
	<br>

	<form th:action="@{/addresses}" method="post"
		th:object="${newAddress}">
		Id: <input th:field="*{id}" /><br> 
		CountryCode: <input th:field="*{countryCode}" /><br> 
		City: <input th:field="*{city}" /><br>
		StreetAddress: <input th:field="*{streetAddress}" /><br> 
		PostalCode: <input th:field="*{postalCode}" /><br> 
		HouseNumber: <input th:field="*{houseNumber}" /><br>
		Lat: <input th:field="*{lat}" /><br> 
		Lng: <input th:field="*{lng}" /><br>
		<input type="submit" value="Add" />
	</form>

</body>
</html>
