<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Logistic application</title>
</head>
<body>

	<h1>List of Transports:</h1>

	<table border>
		<tr>
			<th>Id</th>
			<th>Price</th>
			<th>Sections</th>
			<th>PlannedTime</th>
			
		</tr>
		<tr th:each="transport : ${transports}">
			<td th:text="${transport.id}">Id</td>
			<td th:text="${transport.price}">Price</td>
			<td th:text="${transport.sections}">Sections</td>
			<td th:text="${transport.plannedTime}">PlannedTime</td>
			<td><a th:href="@{/deleteTransport/{id}(id=${transport.id})}">Delete</a></td>
		</tr>
	</table>
	<br>
	<br>

	<form th:action="@{/transports}" method="post"
		th:object="${newAddress}">
		Id: <input th:field="*{id}" /><br> 
		Price: <input th:field="*{price}" /><br> 
		Sections: <input th:field="*{sections}" /><br>
		PlannedTime: <input th:field="*{plannedTime}" /><br> 
		<input type="submit" value="Add" />
	</form>

</body>
</html>
